
/* Главная */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
}


  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;

    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
  }

  .page-container {
    width: 1200px; 
  }


  .button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#756257;
    text-decoration: none;
    text-transform: uppercase;
  }

  .page-header {
    color: #000000;
    background: #ffffff;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    width: 460px;
    margin: 0;
    padding: 0;
  }

  .navigation-user {
    max-width: 264px;
    margin-left: auto;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif; 
    font-size: 20px;
    line-height: 24px;

    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
  }

  .page-container {
    width: 1060px;
    margin: 0 auto;
  }

  .main-welcome {
    min-height: 485px;
    background-image: url(images/index-background.jpg);
   }


  .advantages-title-about {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .advantages-description-about {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
  }


  .advantages-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: none;
    margin: none;
}

   .advantages-item-wrapper {
    width: 100%;
    background-color: cadetblue;
  }

   .advantages-item-image {
    display: flex;
  }
   
  .advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 384px; 
    width: 400px;
   
    background-color:#E5E5E5;
  }

  .advantages-title {
    font-family: "PT Sans", sans-serif;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  .hotel-search {
    justify-content: center;
    color: #000000;
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;

    text-align: center;
  }

  .hotel-search-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .hotel-search-description {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }

  .mailing-list {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    align: center;
    color:#ffffff;
  }

  .mailing-list-description {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }

  .phone-number {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    align: center;
    color:#000000;
  }

  /* Страница каталога */

  .inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
  }
  
.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-list {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotel-card-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    text-decoration: none;
}

.product-card-price {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color:black;
}