
/* Главная */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  html {
    height: 100%;
}


  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;

    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f5f5f5;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }


  .button {
    display: inline-block;
    box-sizing: border-box;
    padding: 9px 8px;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#756257;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
  }

  
  .navigation-link-button:hover {
    background-color:#615048;
  }

  .navigation-link-button:focus {
    outline: 3px solid #83B3D3;
    background-color:#615048;
  }

  .navigation-link-button:disabled {
    color: #C4C4C4;
    background-color:#615048;
  }


  .page-header {
    color: #000000;
    background: #ffffff;
  }

  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-user {
    max-width: 264px;
    margin-left: auto;
  }

  .navigation-list .navigation-user{
    min-width: 42px;
    min-height: 66px;
  }

  .navigation-link {
    position: relative;
    display: block;
    padding: 23px 31px 18px 18px;
    font-family: "PT Sans", sans-serif; 
    font-size: 20px;
    line-height: 24px;

    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }

  .navigation-icon {
    position: absolute;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #dbdbdb;
}

  .navigation-link-button {
    margin: 0px;
    display: inline-block;
    min-width: 160px;
    box-sizing: border-box;
    padding: 9px 8px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#756257;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navigation-link:hover {
    color: #756257;
  }

  .page-container {
    width: 1200px; 
  }

  .logo-wrapper {
    background: url("../images/index-background.jpg") no-repeat top;
    min-height: 485px;
  }


  .logo-big {
    padding-top: 46px;
    padding-bottom: 83px;
    display: block;
    margin: 0 auto;
  }


  .hotel-search-content {
    padding: 80px;
    text-align: center;
 }

  .about-advantages {
    text-align: center; 
    padding: 80px;
    text-align: center;
  }

  .advantages-title-about {
    padding-top: 63px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .advantages-description-about {
    padding-bottom: 63px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
  }

  .advantages {
    display: flex;
  }


  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

   .advantages-item-wrapper {
    width: 100%;
  }

  .advantages-item {
    padding: 80px;
    min-height: 384px; 
    width: 400px;
    text-align: center;
    background-color:#F0F6FA;
  }

  .text-wrapper {
    padding-top: 80px;
  }



  .advantages-item-with-image {
    background-color:#83B3D3;
    color: white;
  }

  .advantages-item-icon-home {
   background: url("../images/icon-1.svg") no-repeat top; 
   background-color:#F0F6FA;
   background-position: center 90px;
  }


  .advantages-item-icon-food {
    background: url("../images/icon-2.svg") no-repeat top; 
    background-color:#FFFFFF;
    background-position: center 90px;
  }

  .advantages-item-icon-souvenirs {
    background: url("../images/icon-3.svg") no-repeat top; 
    background-color:#F0F6FA;
    background-position: center 90px;
  }

  .advantages-item-darkblue {
    background-color:#E6F0F6;
  }



  .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  .advantages-item-image {
    display: flex;
  }


 .hotel-search-wrapper {
    width: 1200px;
    min-height: 417px;
}

.hotel-search-content {
   padding: 80px;
   text-align: center;
}


  .hotel-search {
    justify-content: center;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
  }

  .hotel-search-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .hotel-search-description {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }

  .button-search-hotel {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 148px 15px 148px;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#756257;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
  }

  .button-search-hotel:hover {
    background-color:#615048;
  }

  .button-search-hotel:focus {
    outline: 3px solid #83B3D3;
    background-color:#615048;
  }

  .button-search-hotel:disabled {
    color: #C4C4C4;
    background-color:#e6deda;
  }

   .mailing-list-wrapper {
    min-height: 411px;
}


.mailing-list-content {
   padding: 30px;
   text-align: center;
}
 
  .mailing-list {
    font-family: "PT Sans", sans-serif;
    width: 1200px; 
    background: url("../images/background.jpg") no-repeat;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    box-align: center;
    color:#ffffff;
  }

  .mailing-list-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    box-align: center;
    color:#ffffff;
  }

  .mailing-list-description {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }

  .mailing-list-form {
    display: flex;
    margin: auto;
    width: 800px;
    padding-top: 47px;
  }

  .field {
    flex-grow: 1;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 22px;
    border: none;
    border-radius: 10px 0px 0px 10px;
  }

  .field:hover {
    background-color: #E6E6E6;
  }
  
  .field:focus {
    background-color: #E6E6E6;
     outline: 3px solid #83B3D3;
  }

  .field:valid {
    background-color: #E6E6E6;
    outline: 2px solid #FF5757;
  }

  
  .button-mailing-list-button {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    min-height: 60px;
    padding: 10px 9px;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#83B3D3;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }

  .button-mailing-list-button:hover {
    background-color:#68A2CA;
  }

  .button-mailing-list-button:focus {
    outline: 3px solid #756257;
    background-color:#68A2CA;
  }

  .button-mailing-list-button:active {
    background-color:#68A2CA;
    color: transparent;
    transition: 0.5s all;
  }


 /* Footer */

 .page-footer {
    color: #635858;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    min-height: 100px;
    margin: 0 auto;
  }

  .footer-social {
  margin: auto;
  padding: 50px 0px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  }

 .footer-social-link {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 34px;
  height: 34px;
  fill: #83B3D3;
}

  .footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus  {
  border-radius: 10px;

  outline: 3px solid #83B3D3;
  width: 34px;
  height: 34px;
}

.footer-social-link:active {
  outline: none;
  fill: #83B3D3;
  opacity: 30%;
}

  .footer-social-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  max-width: 107px;
  list-style-type: none;
  }

.footer-social-item:not(:first-child) {
  padding-left: 30px;
}


  .phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: -72px;
    max-width: 720px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 370px;
    height:70px;
  }

  .phone-number-link:hover {
    color: #756257;
  }

  .phone-number-link:focus {
  border-radius: 10px;
  padding: 15px;
   outline: 3px solid #83B3D3;
  }

  .phone-number-link:active {
    outline: none;
    color: #756257;
    opacity: 30%;
    }


  .footer-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-right: 60px;
  padding-top: 40px;
  padding-bottom: 44px;
  fill: #000000;
  } 

  .footer-contacts-logo:hover {
    fill: #756257;
  }

  .footer-contacts-logo:focus {
    border-radius: 10px;
    outline: 3px solid #83B3D3;
    width: 160px;
    height: 53px;
  }

  .footer-contacts-logo:active  {
    outline: none;
    color: #756257;
    opacity: 30%;
  }


  /* Страница каталога */


  .main-inner {
    width: 1200px;
    margin: 0 auto; 
    background: url("../images/catalog-background-1.jpg") no-repeat top;
    min-height: 485px;
  }
  
  .navigation-link-icon-main {
    fill: #ffffff;
  }

  .breadcrumbs-link {
    color: #ffffff;
    padding-left: 10px;
  }

  .navigation-link-icon-nav {
    padding-left: 10px;
  }

.button-item-form {
  display: flex;
  padding-left: 968px;
  padding-right: 72px;
  flex-wrap: wrap;
  margin: 0;
}

.button-blue-submit {
  display: inline-block;
  box-sizing: border-box;
  padding: 18px 35px 18px 35px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#83B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.filter-hotel {
 display: flex;
}


.button-opacity-discard {
  display: inline-block;
  box-sizing: border-box;
  padding: 18px 35px 18px 35px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.title-filter {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-item-filter {
  padding-left: 124px;
  padding-right: 80px;
}


.select-control-sort {
display: block; 
font-size: 18px; 
font-family: "PT Sans", sans-serif;; 
font-weight: 400; 
color: #333333; 
line-height: 16px; 
padding: 12px 94px 12px 19px; 
max-width: 100%; 
box-sizing: border-box; 
margin: 0; 
border: 2px solid #E6E6E6;
border-radius: 4px;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background: url("../images/dropdown-1.svg") no-repeat;
 background-size: 12px 7px;
 background-position: right 6% bottom 45%;
 background-color: #fff; 
}

.filter-hotel-icon {
  display: block; 
 padding-right: 72px;
}

.button-filter-hotel-icon-first {
border: 2px solid #000000;
border-radius: 4px;
padding: 16px;
margin: 8px;
}

.button-filter-hotel-icon {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
}

  .breadcrumbs {
    display: flex;
    margin: 0;
    padding-top: 5px;
    padding-left: 72px; 
    color: #FFFFFF;
    list-style-type: none;
  }

  .breadcrumbs-item {
    display: flex;
    padding-top: 10px; 
  }

  .inner-header-title {
    padding-top: 30px;
    padding-left: 72px; 
    list-style-type: none;
    margin-top: 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
  }
 
  .filter-hotel  {
    display: flex;
    padding-top: 72px;
    padding-left: 72px;
}
 
/* Список карточек */

.demo-wrapper {
  display: flex;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin-bottom: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  gap: 18px;
}


.hotel-card {
  min-height: 438px;
  background-color: #ffffff;

}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}


.hotel-card-wrapper {
  padding: 20px;
}

.hotel-card-link {

}

.hotel-card-title {
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  padding-top: 8px;

  text-decoration: none;
}

.name-hotel-item {
  display: flex;
}

.product-card-price-name {
  padding: auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.product-card-price-number {
  display: flex;
  margin: auto;
  padding-left: 89px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.product-card-button-more {
  display: flex;
  margin: 0;
 
  align-items: center;
  justify-content: center;
  min-width: 133px;
  max-height: 37px;
  box-sizing: border-box;
  padding: 9px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#756257;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.button-card-button-favorites {
  margin: 0;
  display: flex;
  margin-left: auto;
  justify-content: center;
  min-width: 133px;
  box-sizing: border-box;
  padding: 9px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#83B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-button-more:hover {
  background-color:#615048;
}

.button-card-button-favorites:hover {
  background-color:#68A2CA;
}

.button-card-button-infavorites {
  margin: 0;
  display: flex;
  margin-left: auto;
  justify-content: center;
  min-width: 133px;
  box-sizing: border-box;
  padding: 9px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#7DB54F;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.button-card-button-infavorites:hover {
  background-color:#6C9E42;
}
ƒ

.hotel-rating {
  display: flex;
  margin: 0;

}

.rating-title {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-top: 16px;
  
  padding: 9px 30px 9px 30px;
  background-color:#F2F2F2;
  border-radius: 4px;
  max-width: 160px;
  max-height: 37px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.rating-image {
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center
}

.select-item {
  padding-left: 192px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  padding-left: 72px;
   
  align-items: center;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-group {
  display: flex;
  margin: 0;
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.catalog-filter-list {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

/* Pagination container */

.pagination-container {
  display: flex;
  padding: 30px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #242424;
}  

.pagination-link {
  background-color: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;

  color: #ffffff;
  width: 55px;
  height: 55px;
  display: block;
  text-decoration: none;
  padding: 18px 20px;
  box-sizing: border-box;
  line-height: 18px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-disabled {
  background-color: #F2F2F2;
  color: #000000;
  align-items: center;
}

.sort-pagination {
  display: flex;
  margin: auto;
  
  padding-left: 742px;
}

.sort-title {
  padding-right: 51px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  
}

.select-control-sort-number {
display: block; 
font-size: 18px; 
font-family: "PT Sans", sans-serif;; 
font-weight: 400; 
color: #333333; 
line-height: 16px; 
padding: 16px 133px 16px 16px; 
max-width: 100%; 
box-sizing: border-box; 
margin: 0; 
border: 2px solid #E6E6E6;
border-radius: 4px;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background: url("../images/dropdown-1.svg") no-repeat;
 background-size: 12px 7px;
 background-position: right 8% bottom 45%;
 background-color: #fff; 
}



/* Рассылка */

.mailing-list-catalog {
  font-family: "PT Sans", sans-serif;
  width: 1200px; 
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  box-align: center;
}

.mailing-list-title-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  box-align: center;
  color:#000000;
}

.mailing-list-description-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}

.mailing-list-form-catalog {
  display: flex;
  margin: auto;
  width: 600px;
  padding-top: 47px;
}

.field {
  flex-grow: 1;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 22px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.button-mailing-list-button {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  min-height: 60px;
  padding: 10px 9px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#83B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}


.big-button-item-download {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 290px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px 234px 17px 234px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.big-button-item-download:hover {
  background-color: #68A2CA;
}

.big-button-item-download:focus {
  outline: 3px solid #756257;
  background-color: #68A2CA;
}



.big-button-item-download-sub {
  color: #ffffff;
}


a {
    text-decoration: none;
    color: #000000;
  
}
